* {
    border: 0;
    margin: 0;
    padding: 0;
}
header {
    padding: 40px;
}
.wrapper {

}
footer {
    padding: 40px;
    clear: both;
}
img {
    width: 20%;
    float: left;
    padding: 10px;
}